body {
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border: 1px solid gold;
  max-width: 100%;
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: stretch;
  align-content: center;
  width: 100%;
}

.count {
  padding: 10px 10px;
}

button {
  margin: 0px 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 30px;
}

button:disabled {
  opacity: 0.4;
}

.bonus {
}

.score {
  align-content: right;
}